<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans.xsd">
	
	<bean id="customer" class="springdemo.data.Customer">
		<property name="name" value="Rohan Rajore"/>
		<property name="custId" value="15"/>
		<!-- Below using property i am injecting the dependencies -->
		<property name="address" ref="addrBean1"/>
	</bean>
	
	<bean id="addrBean1" class="springdemo.data.Address">
		<property name="city" value="Pune"/>
		<property name="state" value="Maharashtra"/>
		<property name="country" value="India"/>
		<property name="addressId" value="1"/>
		<property name="pinCode" value="560067"/>
		
	</bean>

</beans>